{% extends "base.html" %}

{% block content %}
  <h1>Delete Manufacturer</h1>

  <p>Are you sure you want to delete the manufacturer: {{ manufacturer.name }}?</p>
  <p><i>All Cars with this manufacturer will be also deleted!</i></p>
  <form action="" method="post">
  {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger">
    {% url 'taxi:manufacturer-list' as manufacturer_list_url %}
    {% include "includes/cancel_button.html" with fallback_url=manufacturer_list_url %}
  </form>
{% endblock %}